crash-reports
data
fabricloader.log
icon.png
logs
modernfix
mods_BACKUP
options.txt
saves
screenshots
tacz
tacz_backup
usercache.json
usernamecache.json
.mixin.out
servers.dat
servers.dat_old
XaeroWaypoints
xaero
